/* NAVIGATION */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

nav a {
  color: #111;
  text-decoration: none;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* INDHOLD */

main {
  max-width: 1100px;
  margin: 60px auto;
  padding: 0 30px;
}

h1 {
  font-size: 42px;
  margin: 0 0 10px;
}

h2 {
  margin-bottom: 30px;
}

h3 {
  font-size: 26px;
  margin: 0 0 25px;
}

/* KATEGORIER PÅ FORSIDEN */

#catListeContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

#catListeContainer a {
  background-color: white;
  color: #111;

  text-decoration: none;
  font-size: 18px;
  font-weight: bold;

  padding: 35px 25px;

  border: 1px solid #ddd;

  display: flex;
  align-items: center;
  justify-content: center;
}

#catListeContainer a:hover {
  background-color: #111;
  color: white;
}

/* PRODUKTLISTE */

#productList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  column-gap: 2rem;
  row-gap: 3rem;
}

#productList a {
  text-decoration: none;
  color: black;
}

#productList article {
  background-color: white;
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #d8d8d8;
}

#productList article:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

#productList img {
  width: 100%;
  height: auto;
  display: block;
}

#productList h3 {
  font-size: 20px;
  margin: 10px 0;
}

#productList p {
  margin: 8px 0;
}

/* UDSOLGT */

.udsolgt {
  filter: grayscale(1);
  opacity: 0.5;
  pointer-events: none;
}

/* TILBAGE KNAP */

.back-button {
  display: inline-block;
  margin-bottom: 20px;

  color: #111;
  text-decoration: none;
  font-weight: bold;
}

.back-button:hover {
  text-decoration: underline;
}

/* FILTRERING */

.filtre {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}
